.game-info {
    text-align: left;
    border-style: solid;
    padding: 10px;
    width: 320px;
}

@media only screen and (max-width: 480px) {
    .game-info {
        width: 240px;
    }
}

.ttl {
    text-align: center;
}